{
  "version": 4,
  "configurePresets": [
    {
      "name": "env-vars",
      "hidden": true,
      "environment": {
        "WIN_GCC_TOOLCHAIN_PATH": "abs/path/to/gcc/if/not/in/path/ e.g. C:/MinGw/bin/",
        "WIN_GCC_TOOLCHAIN_PREFIX": "toolchain prefix e.g. mingw32- if using mingw32-gcc",
        "LINUX_GCC_TOOLCHAIN_PATH": "abs/path/to/gcc/if/not/in/path/",
        "LINUX_GCC_TOOLCHAIN_PREFIX": "toolchain prefix same as WIN_GCC_TOOLCHAIN_PREFIX but for linux builds",
        "ARM_GCC_TOOLCHAIN_PATH": "path to arm toolchain bin directory e.g C:/ST/STM32CubeCLT_1.21.0/GNU-tools-for-STM32/bin/arm-none-eabi-",
        "ARM_GCC_TOOLCHAIN_PREFIX": "arm toolchain prefix e.g. arm-none-eabi-",
        "TOOLCHAIN_SUFFIX": "suffix to toolchain executables e.g. .exe .elf etc"
      }
    }
  ]
}
